﻿body {
    padding: 40px 40px 40px 40px;
    background-size: cover; /* redimensionne l'image pour couvrir toute la section */
    background-position: center; /* centre l'image horizontalement et verticalement */
    position: relative;
    background-image: url('../images/LL_right_bg.jpg');
    height: 500px;
    background-position: 60% 60%;
    /* z-index: 10;
    font-family: "Open Sans", sans-serif;
    background-image: url('../images/LL_right_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-position: 60% 60%;*/
}
span{
    color:white;
    text-align:center
}
section{
    margin:auto;
    text-align:center;
   
}
.button {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 80px;
    /*background-color: red;
    margin: auto;
    color: white;
    width: 160px;
    height: 40px;
    margin-top:300px;*/
}

.buttonlog {
    background-color: white; /* Green */
    border: none;
    color: #f44336;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 80px;
    /*background-color:white;
    margin: auto;
    color: red;
    font-weight:bold;
  
    width: 160px;
    height: 40px;
    margin-top: 100px;
    border-radius: 5px ;*/
}

.footer {
    position: absolute; /* positionne le footer par rapport à la section */
    bottom: 0; /* fixe le bas du footer à la fin de la section */
    width: 100%; /* assure que le footer occupe toute la largeur de la section */
    height: 50px; /* hauteur du footer */
    background-color: #333; /* couleur de fond du footer */
    color: #fff; /* couleur de texte du footer */
    text-align: center; /* centre le texte horizontalement dans le footer */
    line-height: 50px; /* aligne le texte verticalement dans le footer */
}
